<div class="container-fluid">
    <h1>Anamnese AEE</h1>

    <form [formGroup]="anamneseForm" (ngSubmit)="onSubmit()">
        <mat-tab-group>
            <mat-tab label="1 - DADOS DO ALUNO">
                <mat-card>
                    <div class="container mt-2">                    
                        <div class="row">
                            <div class="col-8">                        
                                <mat-form-field>
                                    <mat-label>Escola</mat-label>
                                    <mat-select  formControlName="escola" required>
                                        <mat-option>-- Selecione --</mat-option>
                                        @for (escola of escolas; track escola) {
                                            <mat-option [value]="escola">{{escola}}</mat-option>
                                        }
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <mat-form-field>
                                    <mat-label>RA</mat-label>
                                    <input formControlName="ra" required matInput placeholder="CID..." />
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <mat-form-field>
                                    <mat-label>Ano/Nível</mat-label>
                                    <input formControlName="anoNivel" required matInput placeholder="2ª Série..." />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-9">
                                <mat-form-field>
                                    <mat-label>Aluno(a)</mat-label>
                                    <input formControlName="nmAluno" required matInput placeholder="Maria Ana..." />
                                </mat-form-field>
                            </div>
                            
                            <div class="col-3">
                                <mat-form-field>
                                    <mat-label>Data de Nascimento</mat-label>
                                    <input formControlName="dtNascimento" required matInput [matDatepicker]="picker" readonly>
                                    <mat-hint>DD/MM/AAAA</mat-hint>
                                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-5">
                                <mat-form-field>
                                    <mat-label>Professor de Sala</mat-label>
                                    <input formControlName="nmProfessorSala" required matInput placeholder="José..." />
                                </mat-form-field>
                            </div>

                            <div class="col-5">
                                <mat-form-field>
                                    <mat-label>Professor AEE</mat-label>
                                    <mat-select formControlName="nmProfessorAee" required>
                                        <mat-option>-- Selecione --</mat-option>
                                        @for (profaee of profsAee; track profaee) {
                                            <mat-option [value]="profaee">{{profaee}}</mat-option>
                                        }
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-2">
                                <mat-form-field>
                                    <mat-label>Período</mat-label>
                                    <mat-select formControlName="periodo" required>
                                        <mat-option>-- Selecione --</mat-option>
                                        @for (periodo of periodos; track periodo) {
                                            <mat-option [value]="periodo">{{periodo}}</mat-option>
                                        }
                                    </mat-select>
                                </mat-form-field>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-8">
                                <mat-form-field>
                                    <mat-label>Endereço</mat-label>
                                    <input formControlName="endereco" required matInput placeholder="Rua..." />
                                </mat-form-field>
                            </div>

                            <div class="col-4">
                                <mat-form-field>
                                    <mat-label>Bairro</mat-label>
                                    <input formControlName="bairro" required matInput placeholder="Tabuleiro..." />
                                </mat-form-field>
                            </div>   
                        </div>                     

                        <div class="row">
                            <div class="col-2">
                                <mat-form-field>
                                    <mat-label>Telefone</mat-label>
                                    <input formControlName="telefone" required matInput placeholder="(88)9..." />
                                </mat-form-field>
                            </div>

                            <div class="col-5">
                                <mat-form-field>
                                    <mat-label>Pai</mat-label>
                                    <input formControlName="nmPai" required matInput placeholder="Francisco..." />
                                </mat-form-field>
                            </div>

                            <div class="col-5">
                                <mat-form-field>
                                    <mat-label>Mãe</mat-label>
                                    <input formControlName="nmMae" required matInput placeholder="Luiza..." />
                                </mat-form-field>
                            </div>
                        </div>
                            
                        <div class="row">
                            <div class="col-4">
                                <mat-checkbox formControlName="temIrmaos">Tem irmãos?</mat-checkbox>
                            </div>
                            <div class="col-4">
                                <mat-checkbox formControlName="necessitamAtenEsp">Necessitam de atendimento especializado?</mat-checkbox>
                            </div>
                        </div>
                        <div class="row">    
                            <div class="col-12">
                                <mat-form-field>
                                    <mat-label>Quais pessoas que moram na casa?</mat-label>
                                    <input formControlName="pessoasQueMoram" required matInput placeholder="Mãe, irmãos..." />
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </mat-card>    
            </mat-tab>
            <mat-tab label="2 - INFORMAÇÕES MÉDICAS"> 
                <mat-card>
                    <div class="container mt-2">                    
                        <div class="row">
                            <div class="col-3">
                                <mat-checkbox formControlName="temDiagClinic">Diagnóstico clínico</mat-checkbox>
                            </div>
                            <div class="col-3">
                                <mat-checkbox formControlName="temRelatoPedag">Relatório pedagógico</mat-checkbox>
                            </div>
                            <div class="col-6">
                                <mat-form-field>
                                    <mat-label>Diagnóstico</mat-label>
                                    <input formControlName="diagnostico" matInput placeholder="CID..." />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">                        
                                <mat-form-field>
                                    <mat-label>Atendimentos clínicos externos</mat-label>
                                    <input formControlName="atendClinExt" matInput placeholder="Fono... TO..." />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <mat-checkbox formControlName="temConvul">Tem convulsões?</mat-checkbox>
                            </div>
                            <div class="col-3">
                                <mat-checkbox formControlName="fazUsoMed">Faz uso de medicação?</mat-checkbox>
                            </div>
                            <div class="col-6">
                                <mat-form-field>
                                    <mat-label>Qual medicação?</mat-label>
                                    <input formControlName="medicacao" matInput placeholder="Rispe..." />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <mat-checkbox formControlName="temConvMed">Tem convênio médico?</mat-checkbox>
                            </div>
                            <div class="col-9">
                                <mat-form-field>
                                    <mat-label>Qual convênio?</mat-label>
                                    <input formControlName="convenioMed" matInput placeholder="Unimed..." />
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-3">
                                <mat-checkbox formControlName="temCartTransp">Tem carteirinha de transporte?</mat-checkbox>
                            </div>
                            <div class="col-3">
                                <mat-checkbox formControlName="vaiRegMedico">Vai regularmente ao médico?</mat-checkbox>
                            </div>
                            <div class="col-2">
                                <mat-checkbox formControlName="vacinaEmDias">Vacinação em dias?</mat-checkbox>
                            </div>
                            <div class="col-4">
                                <mat-form-field>
                                    <mat-label>Cartão do SUS</mat-label>
                                    <input formControlName="cartaoSus" matInput placeholder="7..." />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <mat-checkbox formControlName="teveDoenContagi">Teve alguma doença contagiosa?</mat-checkbox>
                            </div>
                            <div class="col-8">
                                <mat-form-field>
                                    <mat-label>Qual doença?</mat-label>
                                    <input formControlName="doencaContagi" matInput placeholder="COVID..." />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <mat-form-field>
                                <mat-label>Apresenta alguma necessidade?</mat-label>
                                <mat-select formControlName="temNecessidades" multiple>
                                    @for (necessidade of necessidades; track necessidade) {
                                        <mat-option [value]="necessidade">{{necessidade}}</mat-option>
                                    }
                                </mat-select>
                            </mat-form-field>

                        </div>
                        <div class="row">
                            <div class="col-12">
                                <mat-form-field>
                                    <mat-label>Serviços que frequenta ou frequentou</mat-label>
                                    <input formControlName="servicosQueFreque" matInput placeholder="Fisio..." />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <mat-form-field>
                                    <mat-label>Profissionais de referência</mat-label>
                                    <input formControlName="profissReferen" matInput placeholder="Cícero Fono..." />
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </mat-card>   
            </mat-tab>
            <mat-tab label="3 - ANAMNESE"> 
                <mat-card>
                    <div class="container mt-2">                    
                        <div class="row">
                            <div class="col-5">
                                <mat-form-field>
                                    <mat-label>Localidade de nascimento</mat-label>
                                    <input formControlName="localNascimento" required matInput placeholder="Jaguaruana..." />
                                </mat-form-field>
                            </div>
                            <div class="col-5">
                                <mat-form-field>
                                    <mat-label>Maternidade</mat-label>
                                    <input formControlName="maternidade" required matInput placeholder="Hospital..." />
                                </mat-form-field>
                            </div>
                             <div class="col-2">
                                <mat-form-field>
                                    <mat-label>Parto</mat-label>
                                    <mat-select formControlName="tipoParto" required>
                                        <mat-option>-- Selecione --</mat-option>
                                        @for (tpp of tiposParto; track tpp) {
                                            <mat-option [value]="tpp">{{tpp}}</mat-option>
                                        }
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <mat-form-field>
                                    <mat-label>Duração da gestação</mat-label>
                                    <input formControlName="duracaoGest" required matInput placeholder="36 semanas..." />
                                </mat-form-field>
                            </div>

                            <div class="col-9">
                                <mat-form-field>
                                    <mat-label>Em caso de prematuridade, o que ocasionou?</mat-label>
                                    <input formControlName="motvPremat" matInput placeholder="Complicações..." />
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-3">
                                <mat-checkbox formControlName="fezPrenatal">Acompanhamento pré-natal</mat-checkbox>
                            </div>
                            <div class="col-9">
                                <mat-form-field>
                                    <mat-label>Quanto tempo?</mat-label>
                                    <input formControlName="tempoPrenatal" matInput placeholder="8 meses..." />
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <mat-form-field>
                                    <mat-label>Fez exames durante a gravidez? Quais?</mat-label>
                                    <input formControlName="examesGravide" required matInput placeholder="Sim..." />
                                </mat-form-field>
                            </div> 
                        </div>                     

                        <div class="row">
                            <div class="col-3">
                                <mat-checkbox formControlName="teveDoencaMedicamGesta">Doença durante a gravidez/medicamento?</mat-checkbox>
                            </div>
                            <div class="col-9">
                                <mat-form-field>
                                    <mat-label>Qual?</mat-label>
                                    <input formControlName="doencaMedicamGesta" matInput placeholder="COVID..." />
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <mat-divider></mat-divider>
                        </div>
                            
                        <div class="row">
                            <div class="col-2">
                                <mat-checkbox formControlName="chorou">Chorou logo?</mat-checkbox>
                            </div>
                            <div class="col-2">
                                <mat-checkbox formControlName="ficouRoxo">Ficou roxo?</mat-checkbox>
                            </div>
                            <div class="col-3">
                                <mat-checkbox formControlName="preciOxig">Precisou de oxigênio?</mat-checkbox>
                            </div>
                            <div class="col-2">
                                <mat-checkbox formControlName="preciIncu">Incubadora?</mat-checkbox>
                            </div>
                            <div class="col-3">
                                <mat-checkbox formControlName="apresIctericia">Apresentou Icterícia?</mat-checkbox>
                            </div>
                        </div>

                        <div class="row">
                            <mat-divider></mat-divider>
                        </div>

                        <div class="row">
                            <div class="col-2">
                                <mat-checkbox formControlName="foiAmamentado">Foi amamentado no seio?</mat-checkbox>
                            </div>
                            <div class="col-4">
                                <mat-form-field>
                                    <mat-label>Quanto tempo?</mat-label>
                                    <input formControlName="tempoAmamentado" matInput placeholder="6 Meses..." />
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <mat-checkbox formControlName="usouMamadeira">Fez uso de mamadeira?</mat-checkbox>
                            </div>
                            <div class="col-4">
                                <mat-form-field>
                                    <mat-label>Quanto tempo?</mat-label>
                                    <input formControlName="tempoMamadeira" matInput placeholder="6 Meses..." />
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <mat-divider></mat-divider>
                        </div>

                        <div class="row">
                            <div class="col-2">
                                <mat-checkbox formControlName="engatinhou">Engatinhou?</mat-checkbox>
                            </div>
                            <div class="col-4">
                                <mat-form-field>
                                    <mat-label>Quando?</mat-label>
                                    <input formControlName="quandoEngatinhou" matInput placeholder="6 Meses..." />
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <mat-checkbox formControlName="sentou">Sentou?</mat-checkbox>
                            </div>
                            <div class="col-4">
                                <mat-form-field>
                                    <mat-label>Quando?</mat-label>
                                    <input formControlName="quandoSentou" matInput placeholder="6 Meses..." />
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-2">
                                <mat-checkbox formControlName="andou">Andou?</mat-checkbox>
                            </div>
                            <div class="col-3">
                                <mat-form-field>
                                    <mat-label>Quando?</mat-label>
                                    <input formControlName="quandoAndou" matInput placeholder="1 Ano..." />
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <mat-checkbox formControlName="precisouFisio">Precisou de fisioterapia?</mat-checkbox>
                            </div>
                            <div class="col-5">
                                <mat-form-field>
                                    <mat-label>Motivo</mat-label>
                                    <input formControlName="motivoPrecisouFisio" matInput placeholder="Dificuldade..." />
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4">
                                <mat-checkbox formControlName="possuiControlEsfinct">Possui controle dos esfíncteres</mat-checkbox>
                            </div>
                            <div class="col-8">
                                <mat-form-field>
                                    <mat-label>Quando adquiriu este controle?</mat-label>
                                    <input formControlName="quandoAdquiriuControlEsfinct" matInput placeholder="1 Ano..." />
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <mat-divider></mat-divider>
                        </div>

                        <div class="row">
                            <div class="col-8">
                                <mat-form-field>
                                    <mat-label>Quando falou as primeiras palavras?</mat-label>
                                    <input formControlName="quandoFalouPrimei" matInput placeholder="8 Meses..." />
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field>
                                    <mat-label>Qual tipo de comunicação?</mat-label>
                                    <input formControlName="qualTpComunic" matInput placeholder="Verbal..." />
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4">
                                <mat-checkbox formControlName="temDisturbComunic">Distúrbios na comunicação?</mat-checkbox>
                            </div>
                            <div class="col-8">
                                <mat-form-field>
                                    <mat-label>Qual?</mat-label>
                                    <input formControlName="qualDisturbComunic" matInput placeholder="Dificuldade nas sílabas..." />
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <mat-divider></mat-divider>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <mat-checkbox formControlName="eContente">Aparentemente demonstra ser uma criança contente? (Autoestima)</mat-checkbox>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <mat-checkbox formControlName="fazAmizFacil">Faz amizade facilmente</mat-checkbox>
                            </div>
                            <div class="col-4">
                                <mat-checkbox formControlName="choraFacil">Chora facilmente</mat-checkbox>
                            </div>
                            <div class="col-4">
                                <mat-checkbox formControlName="reclamaMuito">Reclama muito (desmotivado)</mat-checkbox>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <mat-checkbox formControlName="resolveSozinhoProb">Resolve sozinho os problemas que lhe são apresentados</mat-checkbox>
                            </div>
                            <div class="col-8">
                                <mat-form-field>
                                    <mat-label>Observação</mat-label>
                                    <input formControlName="obsResolveSozinhoProb" matInput placeholder="Alguns casos..." />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <mat-checkbox formControlName="eAgressivo">É agressivo</mat-checkbox>
                            </div>
                            <div class="col-5">
                                <mat-form-field>
                                    <mat-label>Observação</mat-label>
                                    <input formControlName="obsEAgressivo" matInput placeholder="Alguns casos..." />
                                </mat-form-field>
                            </div>
                            <div class="col-5">
                                <mat-checkbox formControlName="eCooperador">É cooperador (não se negando a fazer as coisas)</mat-checkbox>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <mat-checkbox formControlName="eIndependente">É suficientemente independente, não precisando do auxílio da professora</mat-checkbox>
                            </div>
                            <div class="col-8">
                                <mat-form-field>
                                    <mat-label>Observação</mat-label>
                                    <input formControlName="obsEIndependente" matInput placeholder="Alguns casos..." />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <mat-checkbox formControlName="ajustaFacilNovSit">Ajusta-se facilmente às novas situações</mat-checkbox>
                            </div>
                            <div class="col-8">
                                <mat-form-field>
                                    <mat-label>Observação</mat-label>
                                    <input formControlName="obsAjustaFacilNovSit" matInput placeholder="Alguns casos..." />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <mat-checkbox formControlName="temConcentNecess">Apresenta concentração necessária para as atividades</mat-checkbox>
                            </div>
                            <div class="col-2">
                                <mat-checkbox formControlName="eInquieto">É inquieto</mat-checkbox>
                            </div>
                            <div class="col-4">
                                <mat-checkbox formControlName="partcipNormalGrupo">Participa normalmente de atividades em grupo</mat-checkbox>
                            </div>
                            <div class="col-2">
                                <mat-checkbox formControlName="sabeEsperarVez">Sabe esperar a sua vez</mat-checkbox>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <mat-checkbox formControlName="obedeceOrdensPrimeira">Obedece a ordens dadas na primeira vez</mat-checkbox>
                            </div>
                            <div class="col-4">
                                <mat-form-field>
                                    <mat-label>Observação</mat-label>
                                    <input formControlName="obsObedeceOrdensPrimeira" matInput placeholder="Algumas vezes..." />
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-checkbox formControlName="eOrganizado">Organizado (materiais; planeja e executa)</mat-checkbox>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <mat-checkbox formControlName="conversaSobreSi">Conversa sobre si</mat-checkbox>
                            </div>
                            <div class="col-4">
                                <mat-checkbox formControlName="apresentaTensaoAnsiedade">Apresenta algum tipo de tensão ou ansiedade</mat-checkbox>
                            </div>
                            <div class="col-3">
                                <mat-checkbox formControlName="temMania">Tem algum tipo de mania?</mat-checkbox>
                            </div>
                            <div class="col-3">
                                <mat-form-field>
                                    <mat-label>Qual?</mat-label>
                                    <input formControlName="qualMania" matInput placeholder="Roer unha..." />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <mat-checkbox formControlName="amarraCadarcoSo">Amarra o cadarço sozinho</mat-checkbox>
                            </div>
                            <div class="col-5">
                                <mat-checkbox formControlName="necessVariasBanheiro">Necessita sair várias vezes para ir ao banheiro</mat-checkbox>
                            </div>
                            <div class="col-4">
                                <mat-checkbox formControlName="reconheDificulda">Reconhece suas dificuldades</mat-checkbox>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <mat-checkbox formControlName="usaBanheiroSo">Faz uso do banheiro sozinho</mat-checkbox>
                            </div>
                            <div class="col-4">
                                <mat-checkbox formControlName="alimentaSo">Alimenta-se sozinho</mat-checkbox>
                            </div>
                        </div>

                        <div class="row">
                            <mat-divider></mat-divider>
                        </div>

                        <div class="row">
                            <div class="col-4">
                                <mat-checkbox formControlName="freqEscola">Frequentou alguma escola?</mat-checkbox>
                            </div>
                            <div class="col-8">
                                <mat-form-field>
                                    <mat-label>Qual?</mat-label>
                                    <input formControlName="qualEscola" matInput placeholder="CEI..." />
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-3">
                                <mat-checkbox formControlName="fazAmigosFac">Faz amigos com facilidade?</mat-checkbox>
                            </div>
                            <div class="col-3">
                                <mat-checkbox formControlName="adaptaFacMeio">Adapta-se facilmente ao meio?</mat-checkbox>
                            </div>
                            <div class="col-6">
                                <mat-form-field>
                                    <mat-label>Quem são os companheiros da criança nas brincadeiras?</mat-label>
                                    <input formControlName="companheBrinca" matInput placeholder="Irmão, vizinho..." />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <mat-form-field>
                                    <mat-label>Escolha de grupo</mat-label>
                                    <mat-select formControlName="grupsBrinca" multiple>
                                        @for (grupo of gruposBrincadeira; track grupo) {
                                            <mat-option [value]="grupo">{{grupo}}</mat-option>
                                        }
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field>
                                    <mat-label>Distrações preferidas</mat-label>
                                    <mat-select formControlName="distPref" multiple>
                                        @for (dis of distracoes; track dis) {
                                            <mat-option [value]="dis">{{dis}}</mat-option>
                                        }
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <mat-form-field>
                                    <mat-label>Se outros, quais distrações?</mat-label>
                                    <input formControlName="outrDistPref" matInput placeholder="Desenhar..." />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <mat-form-field>
                                    <mat-label>Atitudes sociais predominantes</mat-label>
                                    <mat-select formControlName="atitudSociPred" multiple>
                                        @for (atdSoc of atitudesSociais; track atdSoc) {
                                            <mat-option [value]="atdSoc">{{atdSoc}}</mat-option>
                                        }
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field>
                                    <mat-label>Emocionais</mat-label>
                                    <mat-select formControlName="atitudEmociPred" multiple>
                                        @for (atdEmc of atitudesEmocionais; track atdEmc) {
                                            <mat-option [value]="atdEmc">{{atdEmc}}</mat-option>
                                        }
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <mat-form-field>
                                    <mat-label>Sono</mat-label>
                                    <mat-select formControlName="sono" multiple>
                                        @for (tpSono of tiposSono; track tpSono) {
                                            <mat-option [value]="tpSono">{{tpSono}}</mat-option>
                                        }
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <mat-form-field>
                                    <mat-label>Medidas disciplinares empregadas pelos pais</mat-label>
                                    <input formControlName="medidDiscipl" matInput placeholder="Sentar..." />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <mat-form-field>
                                    <mat-label>Como seu (sua) filho (a) reage quando é contrariado (a), e qual a atitude dos pais nesta ocasião?</mat-label>
                                    <input formControlName="reacaoContrariado" matInput placeholder="Aceita bem..." />
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </mat-card> 
            </mat-tab>
            <mat-tab label="4 - OBSERVAÇÕES RELEVANTES"> 
                <mat-card>
                    <div class="container mt-2">                    
                        <div class="row">
                            <div class="col-12"> 
                                <mat-form-field>
                                    <mat-label>Observações relevantes</mat-label>
                                    <textarea formControlName="observacoesRelevantes" matInput placeholder="Considerações sobre o discente..."></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </mat-tab>
            <mat-tab label="5 - FINALIZAR"> 
                <mat-card>
                    <div class="container mt-2 mb-2">                    
                        <div class="row">
                            <div class="col-12"> 
                                <p>As informações fornecidas aqui são totalmente sigilosas</p>
                                <p>O presente aplicativo não armazena informações em banco de dados e nem envia para serviços de terceiros.</p> 
                                <button mat-raised-button color="primary">GERAR DOCUMENTO</button>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </mat-tab>
        </mat-tab-group>
    </form>
</div>

